@font-face {
  font-family: 'iconfont';
  /* Project id 4298238 */
  src: url('./fonts/iconfont.woff2') format('woff2'), url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: '\e645';
  margin-top: 0.4%;
}

.icon-search:before {
  content: '\e8ef';
}

.icon-ok:before {
  content: '\e625';
}

.icon-error:before {
  content: '\e6c6';
}

.icon-arrow-down:before {
  content: '\e665';
}

.icon-arrow-right:before {
  content: '\e666';
}

.icon-arrow-double-left:before {
  content: '\e667';
}

.icon-arrow-double-right:before {
  content: '\e668';
}

.icon-arrow-left:before {
  content: '\e687';
}
