@use '../mixins/mixins.scss' as *;
@use 'sass:math';

$width: 200;
.#{$namespace}-date {
  width: $width + px;
  height: 20px;
  border-radius: 0.25rem;
}

.#{$namespace}-date:focus-visible {
  outline-color: gray;
}

.#{$namespace}-date-sel {
  float: left;
  width: math.div($width, 7) + px;
  height: 25px;
  text-align: center;
  border: 0.01rem aliceblue solid;
}

.#{$namespace}-date-week {
  float: left;
  width: math.div($width, 7) + px;
  height: 25px;
  text-align: center;
}

.#{$namespace}-date-header {
  float: left;
  // border: 0.01rem solid black;
  width: math.div($width, 10) + px;
  height: 25px;
  text-align: center;
}
.#{$namespace}-date-header.month {
  width: math.div($width, 10) * 3 + px;
}
.#{$namespace}-date-header.year {
  width: math.div($width, 10) * 3 + px;
}

.#{$namespace}-date-sel.year {
  width: 60px;
}

.#{$namespace}-date-container {
  width: $width + 12 + px;
}

.#{$namespace}-date:focus + .#{$namespace}-date-container {
  display: block;
}

.#{$namespace}-date-container:hover {
  display: block;
}

.#{$namespace}-date-sel:hover {
  background-color: bisque;
}

.#{$namespace}-date-container {
  display: none;
  position: absolute;
  background-color: aliceblue;
}

.#{$namespace}-date-month-sel {
  width: math.div($width, 3.1) + px;
  border: 0.01rem aliceblue solid;
}
.#{$namespace}-date-year-sel {
  width: math.div($width, 3.1) + px;
  border: 0.01rem aliceblue solid;
}

.#{$namespace}-date-year-header {
  float: left;
  width: math.div($width, 2) + px;
  height: 25px;
  text-align: center;
  border-right: none;
}
.#{$namespace}-date-year-sel:hover {
  background-color: bisque;
}

.#{$namespace}-date-month-sel:hover {
  background-color: bisque;
}
.#{$namespace}-date-month-sel.selected {
  // border: 0.001rem blue solid;
  border: 0.001rem blue solid;
}
.#{$namespace}-date-sel.selected {
  border: 0.001rem blue solid;
}

.#{$namespace}-date-year-sel.selected {
  // border: 0.001rem blue solid;
  border: 0.001rem blue solid;
}
