@use '../mixins/mixins.scss' as *;

.#{$namespace}-input-wrapper {
  width: 100%;
  flex-direction: row;
  display: inline-flex;
}
.#{$namespace}-input {
  width: 100%;
}

i {
  width: 16px;
}

input {
  border: none;
}

input:focus-visible {
  outline: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// 修改password, 显示密码按钮大小
input[type='password' i]::-ms-reveal {
  width: 0.8rem;
  height: 0.8rem;
}
